on init

    write /sys/class/android_usb/android0/idVendor 0fce
    write /sys/class/android_usb/android0/idProduct 6182

service remap /sbin/remap.sh
    oneshot
    disabled

# Remap boot and FOTA for lk if lk is present
on property:ro.bootloader=lk
    start remap
    setprop lk.remap 1

on boot
    # SONY: Enable Sony RIC
    mount securityfs securityfs /sys/kernel/security nosuid nodev noexec
    sleep 5
    write /sys/kernel/security/sony_ric/enable 0
    write /sys/fs/selinux/enforce 0
